/* Fetches the font used */
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap");

body {
  background-color: #262626;
}

/* Uses coding magic to move and resize the logo */
.logo {
  width: 312px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 300px;
}

.quote {
  text-align: center;
  font-family: "Courier Prime", monospace;
  position: relative;
  top: 320px;
  color: #afafaf;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  transform: translate(685px, 360px);
  display: block;
}

.link {
  text-align: center;
  font-family: "Courier Prime", monospace;
  position: relative;
  top: 320px;
  color: #afafaf;
}
